@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    min-height: calc(100vh - 90px);
  }
  p {
    @apply leading-relaxed;
  }
  p,
  h1,
  h2,
  a,
  code,
  figcaption,
  img {
    @apply selection:bg-primary selection:text-dark;
  }
}

@layer components {
  .nav-after {
    @apply after:content-[''] after:absolute after:inset-0 after:w-6 after:h-6 after:bg-light after:opacity-[0.15] after:rounded-full after:pointer-events-none;
  }
  .heading {
    @apply w-min mb-8 font-serif text-xl text-light lowercase leading-tight decoration-2 underline-offset-8 underline xl:decoration-4 xl:underline-offset-[1rem] xl:text-2xl xl:mb-16;
  }
  .heading-reference {
    white-space: break-spaces;
    line-height: 1.15;
    @apply mb-3 font-serif text-lg text-primary xl:text-xl;
  }
  .lang a {
    @apply relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:w-[0%] before:h-2 before:border-b-2 before:border-light hover:before:w-full before:transition-all before:duration-300;
  }
  .contact a {
    @apply hover:text-light transition-colors duration-500;
  }
  .keywords {
    @apply w-max font-serif text-2xl leading-none lowercase whitespace-nowrap lg:text-3xl;
  }
  .skills .logos {
    @apply grid grid-cols-2 gap-y-8 gap-x-4 sm:grid-cols-3 sm:gap-x-8 md:grid-cols-4 md:gap-x-8 2xl:grid-cols-5 2xl:gap-x-16;
  }
  .skills .logos > figure {
    @apply flex flex-col items-center max-w-xs rounded-full;
  }
  .skills .logos figcaption {
    @apply mt-2;
  }
  .skills .logos img {
    aspect-ratio: 1/1;
    @apply w-20 p-5 mb-1 border-[1px] border-primary rounded-full;
  }
  .skills code {
    white-space: break-spaces;
    @apply font-serif text-sm text-primary;
  }
  .skill-container {
    @apply w-screen sm:w-max max-w-[85vw] md:max-w-[650px] lg:max-w-[850px] xl:max-w-[1000px] 
    first-of-type:w-96 first-of-type:order-3 first-of-type:col-span-5 first-of-type:md:col-start-2  first-of-type:2xl:col-start-3
          
    [&:nth-of-type(2)]:order-2 [&:nth-of-type(2)]:col-span-4 [&:nth-of-type(2)]:2xl:col-start-5 [&:nth-of-type(2)]:2xl:row-start-2 [&:nth-of-type(2)]:2xl:row-span-2 [&:nth-of-type(2)]:2xl:mt-28 [&:nth-of-type(2)]:2xl:ml-16
          
    last-of-type:order-1 last-of-type:col-span-4 last-of-type:md:col-start-1 last-of-type:2xl:col-start-1 last-of-type:2xl:col-span-3 last-of-type:2xl:row-span-3;
  }
  .shadow-3d-top {
    box-shadow: -10px -10px 0 10px hsla(0, 0%, 7%, 1),
      -20px -20px 0 1px hsla(151, 100%, 50%, 1);
  }
  .pseudo-3d-top:before {
    width: calc(100% + 4px);
    @apply content-[''] absolute left-[-12px] top-[-22px] block h-[22px] border-x-2 border-t-[1px] border-primary skew-x-[42deg];
  }
  .pseudo-3d-bot:before {
    height: calc(100% + 2px);
    @apply content-[''] absolute left-[-22px] top-[-13px] block w-[22px] border-[1px] border-y-2 border-r-0 border-primary skew-y-[49deg];
  }
}
