@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    min-height: calc(100vh - 90px);
  }
  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .nav-after {
    @apply after:content-[''] after:absolute after:inset-0 after:w-6 after:h-6 after:bg-light after:opacity-[0.15] after:rounded-full after:pointer-events-none;
  }
  .heading {
    @apply w-min mb-8  font-serif text-xl text-light lowercase leading-tight decoration-2 underline-offset-8  underline xl:decoration-4 xl:underline-offset-[1rem] xl:text-2xl xl:mb-16;
  }
  .keywords {
    @apply w-max font-serif text-2xl leading-none lowercase whitespace-nowrap xl:text-3xl;
  }

  .skills .logos {
    @apply grid gap-y-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
  }
  .skills .logos > figure {
    @apply flex flex-col items-center max-w-xs rounded-full;
  }
  .skills .logos img {
    aspect-ratio: 1/1;
    @apply w-32 p-3 mb-1 border-4 border-primary rounded-full;
  }
  .skills code {
    white-space: break-spaces;
    @apply font-serif text-sm text-primary;
  }

  :root {
    --width-cub-1: 85vw;
    --width-cub-2: 85vw;
    --width-cub-3: 85vw;
  }
  @media screen(sm) {
    :root {
      --width-cub-1: 500px;
    }
  }
  @media screen(md) {
    :root {
      --width-cub-3: 650px;
    }
  }
  @media screen(lg) {
    :root {
      --width-cub-2: 1000px;
    }
  }

  .skills article:nth-of-type(1) .cuboid_top {
    --height: 30px;
    --depth: 40px;
    height: var(--height);
    width: var(--width-cub-1);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative;
  }
  .skills article:nth-of-type(1) .cuboid_bot {
    --depth: 40px;
    height: var(--height-content-1);
    width: var(--width-cub-1);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative;
  }
  .skills article:nth-of-type(2) .cuboid_top {
    --height: 30px;
    --depth: 40px;
    height: var(--height);
    width: var(--width-cub-2);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative xl:ml-auto;
  }
  .skills article:nth-of-type(2) .cuboid_bot {
    --depth: 40px;
    height: var(--height-content-2);
    width: var(--width-cub-2);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative xl:ml-auto xl:mb-24;
  }
  .skills article:nth-of-type(3) .cuboid_top {
    --height: 30px;
    --depth: 40px;
    height: var(--height);
    width: var(--width-cub-3);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative;
  }
  .skills article:nth-of-type(3) .cuboid_bot {
    --depth: 40px;
    height: var(--height-content-3);
    width: var(--width-cub-3);
    transform: rotateX(-9deg) rotateY(22deg);
    transform-style: preserve-3d;
    @apply relative;
  }
  .cuboid_side {
    @apply absolute px-1 pt-[2px] border border-primary;
  }
  .cuboid_bot > .cuboid_side {
    margin-top: -1px;
    @apply py-3 border-t-0;
  }

  .cuboid_side:nth-of-type(1) {
    --coefficient: 0.5;
    height: var(--height);
    width: var(--width);
    transform: translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
    @apply bg-dark;
  }
  .cuboid_side:nth-of-type(2) {
    --coefficient: -0.5;
    height: var(--height);
    width: var(--width);
    transform: translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
    @apply border-r-0 border-b-0;
  }
  /*Seiten des Würfels*/
  .cuboid_side:nth-of-type(3) {
    --coefficient: -0.5;
    height: var(--height);
    width: var(--depth);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(90deg)
      translate3d(0, 0, calc(var(--width) * var(--coefficient)));
  }
  .cuboid_side:nth-of-type(4) {
    --coefficient: -0.5;
    height: var(--height);
    width: var(--depth);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(-90deg)
      translate3d(0, 0, calc(var(--width) * var(--coefficient)));
    @apply border-l-0;
  }

  article:nth-of-type(1) .cuboid_bot .cuboid_side {
    height: var(--height-content-1);
  }
  article:nth-of-type(2) .cuboid_bot .cuboid_side {
    height: var(--height-content-2);
  }
  article:nth-of-type(3) .cuboid_bot .cuboid_side {
    height: var(--height-content-3);
  }
  article:nth-of-type(1) .cuboid_side {
    --width: var(--width-cub-1);
  }
  article:nth-of-type(2) .cuboid_side {
    --width: var(--width-cub-2);
  }
  article:nth-of-type(3) .cuboid_side {
    --width: var(--width-cub-3);
  }

  .cube > canvas {
    @apply absolute left-0;
  }
}
